/* PC */
@media screen and (min-width: 992px) {
  .header-menu-mobile {
    display: none;
  }
  .mobile-header {
    display: none;
  }
  /* Client */
  .about .dots {
    display: none;
  }
}
/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .heading {
    font-size: 3.6rem;
    line-height: 116.667%;
    letter-spacing: -1.44px;
  }
  .btn {
    --height: 55px;
    width: 147px;
    font-size: 1.6rem;
  }
  /* Header */
  .header .header-contact a {
    display: none;
  }
  .header .header-menu {
    display: none;
  }
  .header .header-container {
    position: relative;
    border-bottom: 1px solid #d6d3e2;
  }
  .header .header-mail {
    position: absolute;
    right: 42px;
    width: 32px;
    height: 32px;
  }
  .header-menu-mobile {
    width: 32px;
    height: 32px;
    border-radius: 100rem;
    border: 2px solid rgba(93, 59, 238, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px 0;
    flex-direction: column;
  }
  .header-menu-mobile div {
    width: 15px;
    height: 2px;
    background-color: var(--primary-color);
  }
  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 4;
    transform: translateX(-100%);
    transition: all 0.2s linear;
  }
  .menu-checkbox:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer .header-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
  }
  /* Hero */
  .hero-container .row {
    flex-direction: column-reverse;
    gap: 20px 0;
  }
  .hero-content {
    padding: 51px 0 0 0;
  }
  .hero-heading {
    font-size: 4.2rem;
    line-height: 119.048%;
    letter-spacing: -1.68px;
  }
  .hero-desc {
    font-size: 1.6rem;
  }
  .hero-cta {
    margin-top: 30px;
  }
  .hero-info {
    font-size: 1.6rem;
  }
  .hero-more {
    margin-top: 25px;
    gap: 0 10px;
  }
  .hero-more span {
    font-size: 1.4rem;
  }
  .hero-social a {
    width: 31px;
    height: 31px;
  }
  .hero-social {
    gap: 0 16px;
  }
  .hero-media figure {
    display: none;
  }
  .hero-bg-decor {
    display: none;
  }
  /* CLient */
  .clients {
    margin-top: 62.5px;
  }
  .client-container {
    padding: 62.5px 0 60px;
    flex-direction: column;
    gap: 42px 0;
  }
  .client-heading {
    padding-left: 0;
    text-align: center;
    font-size: 2.8rem;
    line-height: 121.429%;
    max-width: 169px;
    letter-spacing: -1.12px;
  }
  .client-heading::before {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
  }
  .client-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .client-name {
    font-size: 1.6rem;
  }
  /* About */
  .about-container {
    padding: 60px 0;
  }
  .about-heading {
    font-size: 3.6rem;
    letter-spacing: -1.44px;
  }
  .about-desc {
    font-size: 1.6rem;
    line-height: 162.5%;
  }
  .about-list {
    margin-top: 50px;
    overflow: hidden;
  }
  .about-item {
    width: 350px;
    margin-left: 12px;
    padding: 29px 50px;
  }
  .about-icon {
    width: 62px;
    height: 62px;
  }
  .about-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-item-heading {
    margin-top: 30px;
    font-size: 2.8rem;
  }
  .about-item-desc {
    margin-top: 10px;
    font-size: 1.6rem;
  }
  .about .dots {
    margin-top: 30px;
  }
  /* Project */
  .project {
    margin-top: 60px;
  }
  .project-container {
    padding: 69px 0 60px;
  }
  .project-top {
    flex-direction: column;
  }
  .project .row {
    width: 350px;
    margin-left: -2px;
  }
  .project-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .project-desc {
    font-size: 1.6rem;
    line-height: 162.5%;
    text-align: center;
    margin-bottom: 60px;
  }
  .project-item {
    padding: 20px 15px;
    width: 350px;
  }
  .project-img {
    width: 122px;
    height: 93px;
  }
  .project-item-decor {
    display: none;
  }
  .project-item-content {
    max-width: 176px;
  }
  .project-item-heading {
    font-size: 2.4rem;
    letter-spacing: -0.96px;
  }
  .project-item-desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
  .project-link {
    margin-top: 4px;
    font-size: 1.6rem;
  }
  .project-btn {
    margin-top: 50px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Header */
  .header .header-logo {
    left: -236px;
  }
  .menu-drawer {
    padding: 40px;
  }
}
/* Mobile */
@media screen and (max-width: 767.98px) {
  /* Header */
  .header .header-logo {
    left: -88px;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
    padding: 20px;
  }
}
