:root {
  --primary-font: "DM Sans", sans-serif;
  --primary-color: #5d3bee;
  --dark-color: #080415;
  --text-color: #51586a;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
.heading {
  color: var(--dark-color);
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 117.857%;
  letter-spacing: -2.24px;
}
.desc {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}
.btn {
  --height: 62px;
  height: var(--height);
  line-height: var(--height);
  font-size: 1.8rem;
  font-weight: 700;
  outline: none;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}
.btn-1 {
  color: #fdfdfd;
  background-color: var(--primary-color);
  transition: all 0.2s linear;
}
.btn-1:hover {
  color: var(--primary-color);
  background-color: #fdfdfd;
  border: 2px solid var(--primary-color);
}
.btn-2 {
  background: #fff;
  color: var(--dark-color);
  transition: all 0.2s linear;
}
.btn-2:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid #fff;
}
/* Header */
.header {
  padding-top: 10px;
  position: sticky;
  top: -10px;
  z-index: 2;
  background-color: #fff;
}
.header-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1330px;
  max-width: calc(100% - 48px);
}
.header-contact {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header-contact a {
  color: var(--dark-color);
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: underline;
}
.header-mail {
  width: 46px;
  height: 46px;
  border-radius: 100rem;
  border: 1px solid rgba(93, 59, 238, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  position: relative;
  left: 60px;
}
.header-menu {
  display: flex;
  gap: 43px;
  align-items: center;
}
.header-menu-link {
  color: var(--text-color);
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  display: block;
  padding-bottom: 6px;
}
.header-menu-link:hover {
  font-weight: 600;
  color: var(--dark-color);
}
.header-menu-link::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-menu-link::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--dark-color);
  left: 0;
  bottom: 0;
  border-radius: 4px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.header-menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* Hero */
.hero {
  min-height: calc(100vh - 76px);
}
.hero-container {
  min-height: calc(100vh - 76px);
  position: relative;
}
.hero-container .row {
  align-items: center;
  display: flex;
}
.hero-media {
  position: relative;
  align-self: flex-end;
  margin-top: 9px;
}
.hero-media-decor {
  z-index: -1;
}
.hero-media-decor-1 {
  top: 30px;
  left: 176px;
}
.hero-media-decor-2 {
  top: 149px;
  left: -34px;
}
.hero-media-decor-3 {
  bottom: 0;
  left: -90px;
}
.hero-media-decor-4 {
  right: 80px;
  bottom: 170px;
}
.hero-content {
  padding: 137px 0 0 70px;
}
.hero-heading {
  font-size: 8rem;
  line-height: 95%;
  letter-spacing: -3.2px;
}
.hero-desc {
  margin-top: 20px;
  max-width: 370px;
}
.hero-cta {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.hero-info {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration-line: underline;
  letter-spacing: 0;
  transition: all 0.2s linear;
}
.hero-info:hover {
  color: var(--primary-color);
}
.hero-more {
  margin-top: 104px;
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.hero-social {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.hero-social a {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  border: 1px solid rgba(8, 4, 21, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 0.2s linear;
}
.hero-social a:hover {
  background-color: var(--primary-color);
}
.hero-social svg {
  color: var(--dark-color);
  transition: all 0.2s linear;
}
.hero-social a:hover svg {
  color: #fff;
}
.hero-bg-decor,
.hero-media-decor {
  position: absolute;
  opacity: 0.12;
}
.hero-bg-decor-1 {
  right: -38px;
  bottom: 105px;
}
.hero-bg-decor-2 {
  bottom: 0;
  right: 0;
}
.hero-bg-decor-3 {
  bottom: 0;
  right: -109px;
}
.hero-bg-decor-4 {
  bottom: 0;
  right: -116px;
}
/* Client */
.clients {
  margin-top: 49px;
}
.client-container {
  display: flex;
  align-items: center;
  gap: 0 106px;
  padding: 49px 0 56.5px;
}
.client-heading {
  max-width: 352px;
  font-size: 4.2rem;
  line-height: 119.048%;
  letter-spacing: -1.68px;
  padding-left: 101px;
  position: relative;
}
.client-heading::before {
  content: "";
  width: 86px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-25%);
}
.client-icon-wrap {
  width: 36px;
  height: 36px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-icon-wrap-1 {
  background-color: #fbfaff;
}
.client-icon-wrap-2 {
  background-color: rgba(20, 168, 0, 1);
}
.client-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 50px;
}
.client-item {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.client-name {
  font-size: 1.6rem;
  letter-spacing: -1.16px;
  white-space: nowrap;
}
/* About */
.about-container {
  padding: 56.5px 0 70px;
}
.about-heading {
  text-align: center;
}
.about-desc {
  max-width: 534px;
  padding-top: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.about-list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.about-item {
  padding: 32px 42px;
  background: #fbfaff;
  transition: all 0.2s linear;
}
.about-item:hover {
  background: #d3d3d2;
}
.about-item-heading {
  margin-top: 22px;
  font-size: 3.2rem;
  letter-spacing: -1.28px;
}
.about-item-desc {
  margin-top: 15px;
}
/* Project */
.project {
  margin-top: 70px;
  background-color: var(--primary-color);
}
.project-container {
  padding: 86px 0;
}
.project-top {
  display: flex;
  align-items: center;
  gap: 0 160px;
}
.project-heading {
  color: #fff;
  max-width: 468px;
  letter-spacing: 0;
  margin-bottom: 70px;
}
.project-desc {
  color: rgba(255, 255, 255, 0.7);
  max-width: 370px;
}
.project-item {
  background: #fbfaff;
  padding: 24px 23px 23px 34px;
  display: flex;
  height: 234px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.project-item-content {
  max-width: 220px;
}
.project-item-heading {
  font-size: 3.2rem;
  letter-spacing: -1.28px;
}
.project-item-desc {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 143.75%;
}
.project-link {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration-line: underline;
  display: inline-block;
  transition: all 0.2s linear;
}
.project-link:hover {
  color: var(--primary-color);
}
.project-item-media {
  position: relative;
}
.project-img {
  width: 246px;
  height: 187px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.project-item-decor {
  position: absolute;
  opacity: 0.1;
  z-index: 0;
}
.project-item-decor-1 {
  left: -110px;
  top: 21px;
}
.project-item-decor-2 {
  left: -51px;
  top: 80px;
}
.project-item-decor-3 {
  top: -24px;
  left: -92px;
}
.project-item-decor-4 {
  top: -24px;
  left: -4px;
}
.project-item-decor-5 {
  top: -25px;
  left: 66px;
}
.project-item-decor-6 {
  top: -24px;
  left: 158px;
}
.project-btn {
  margin: 80px auto 0 auto;
}
/* Stat */
.stat-and-review {
  background: linear-gradient(to bottom, #fff 47.11%, #fbfaff 47.11%);
}
.stat {
  margin-top: 70px;
}
.stat-container {
  padding: 70px 0 75px;
}
.stat-sub-heading {
  color: var(--primary-color);
  font-size: 3.2rem;
  letter-spacing: -1.28px;
  display: flex;
  align-items: center;
  gap: 0 9px;
  justify-content: center;
}
.stat-heading {
  margin-top: 10px;
  text-align: center;
}
.stat-desc {
  margin: 15px auto 0 auto;
  max-width: 570px;
  text-align: center;
}
.stat-list {
  margin: 70px auto 0 auto;
  padding: 20px 143px;
  border-top: 1px solid rgba(8, 4, 21, 1);
  border-bottom: 1px solid rgba(8, 4, 21, 1);
  max-width: 946px;
  display: flex;
  align-items: center;
  gap: 140px;
}
.stat-item-heading {
  font-size: 5.6rem;
  letter-spacing: 1.68px;
  text-decoration-line: underline;
}
.stat-item-desc {
  white-space: nowrap;
}
.stat-media {
  margin-top: 70px;
  position: relative;
}
.stat-media video {
  background-color: #cbc9c9;
}
.stat-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* Review */
.review {
  position: relative;
}
.review-container {
  padding: 75px 0;
}
.review-heading {
  text-align: center;
}
.review-desc {
  margin: 20px auto 0 auto;
  max-width: 570px;
  text-align: center;
}
.review-list {
  margin-top: 60px;
}
.review-item {
  max-width: 679px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.review-item-desc {
  font-size: 2.4rem;
  line-height: 166.667%;
  text-align: center;
}
.review-user {
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.review-user-icon {
  width: 39.833px;
  height: 39.833px;
  border-radius: 100rem;
}
.review-user-name {
  font-size: 3rem;
  letter-spacing: 0;
}
.review-user-info {
  margin-top: 3px;
  font-size: 1.6rem;
}
.dots {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}
.dot {
  width: 16px;
  height: 16px;
  border-radius: 100rem;
  background-color: rgba(8, 4, 21, 0.2);
  cursor: pointer;
}
.dot.active {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 100rem;
  border: 1px solid var(--primary-color);
  position: relative;
}
.dot.active::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100rem;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.review-decor {
  position: absolute;
  opacity: 0.1;
}
.review-decor-1 {
  left: 0;
  bottom: 0;
}
.review-decor-2 {
  left: 56px;
  bottom: 133px;
}
.review-decor-3 {
  bottom: 0;
}
.review-decor-4 {
  bottom: 0;
  left: 70px;
}
.review-decor-5 {
  bottom: 0;
  right: 79px;
}
.review-decor-6 {
  right: 26px;
  bottom: 108px;
}
.review-decor-7 {
  bottom: 0;
  right: 0;
}
.review-decor-8 {
  bottom: 0;
  right: 0;
}
/* Question */
.question {
  margin-top: 47.5px;
}
.question-container {
  padding: 47.5px 0 80px;
  max-width: 1009px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.question-heading {
  max-width: 575px;
}
.question-list {
  margin-top: 20px;
  width: 100%;
}
.question-item {
  padding: 60px 0 33px 22px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.question-item-heading {
  font-size: 3.2rem;
  letter-spacing: -1.28px;
  transition: all 0.2s linear;
}
.question-answer {
  max-width: 487px;
  margin-top: 23px;
  display: none;
  transition: all 0.2s linear;
}
.question-icon {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background-color: transparent;
  border: 2px solid rgba(22, 26, 28, 0.2);
  cursor: pointer;
  position: relative;
  transition: all 0.2s linear;
}
.question-icon::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: rgba(22, 26, 28, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
}
.question-icon::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: rgba(22, 26, 28, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #08182f;
}
.question-item input[type="checkbox"]:checked ~ .question-icon {
  border: 2px solid rgba(93, 59, 238, 0.2);
}
.question-item input[type="checkbox"]:checked ~ .question-icon::after {
  display: none;
}
.question-item input[type="checkbox"]:checked ~ .question-icon::before {
  background-color: var(--primary-color);
}
.question-item
  input[type="checkbox"]:checked
  ~ .question-content
  .question-item-heading {
  color: var(--primary-color);
}
.question-item
  input[type="checkbox"]:checked
  ~ .question-content
  .question-answer {
  display: block;
}
.question-item input[type="checkbox"]:checked ~ .item-border-bottom {
  background-color: var(--primary-color);
}
/* Gallery */
.gallery-container {
  padding: 80px 70px;
}
.gallery-heading {
  text-align: center;
}
.gallery-desc {
  text-align: center;
  max-width: 528px;
  margin: 20px auto 0 auto;
}
.gallery-contact {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  color: var(--primary-color);
  font-size: 3.2rem;
  letter-spacing: -1.28px;
  text-decoration-line: underline;
}
.gallery-media {
  margin-top: 70px;
}
.gallery-media img {
  width: 370px;
  height: 529px;
  object-fit: cover;
}
/* Contact */
.contact {
  margin-top: 70px;
}
.contact-container {
  background: #fbfaff;
  position: relative;
  padding: 68px 0;
}
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.contact-heading {
  margin-top: 15px;
}
.contact-desc {
  margin-top: 20px;
  text-align: center;
  max-width: 570px;
}
.contact-btn {
  margin-top: 40px;
}
.contact-decor {
  position: absolute;
  z-index: 0;
  opacity: 0.1;
}
.contact-decor-1 {
  left: 0;
  bottom: 0;
}
.contact-decor-2 {
  left: 53px;
  bottom: 130px;
}
.contact-decor-3 {
  bottom: 0;
  left: 0;
}
.contact-decor-4 {
  bottom: 0;
  left: 68px;
}
.contact-decor-5 {
  top: 40px;
  left: 380px;
}
.contact-decor-6 {
  top: 0;
  left: 622px;
}
.contact-decor-7 {
  top: 0;
  left: 294px;
}
.contact-decor-8 {
  right: 276px;
  top: 114px;
}
.contact-decor-9 {
  top: 0;
  right: 50px;
}
.contact-decor-10 {
  top: 0;
  right: 0;
}
.contact-decor-11 {
  right: 0;
  top: 32px;
}
/* Footer */
.footer {
  margin-top: 50px;
}
.footer-container {
  max-width: 1429px;
  padding: 18px 0 30px;
  border-top: 1px solid rgba(12, 7, 32, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 515px;
}
.footer-desc span,
.copyright {
  color: rgba(82, 87, 113, 0.6);
}
.footer-desc span:first-child {
  padding-right: 23px;
  margin-right: 13px;
  border-right: 1px solid rgba(82, 87, 113, 0.6);
}
